img/*
exports/*
!exports/shared

__pycache__/

/*.bat

src/liu2021/CaffeLoader.py
src/liu2021/multi_scale_st.sh
src/liu2021/neural_style.py
src/liu2021/warping/images
src/liu2021/warping/texture_rendering
src/liu2021/warping/README.md
src/liu2021/warping/geometric_warping/*
src/liu2021/models
!src/liu2021/warping/geometric_warping/geo_warping.m

src/ranftl2022/*

src/kirillov2023/checkpoints/*.pth

src/paint_transformer/*
!src/paint_transformer/placeholder.txt

src/wang2021/*

src/gatys2017/spatial_control_dead.py
src/gatys2017/spatial_control_eager.py
src/gatys2017/model.py
src/gatys2017/spatial_control_eager.py
src/gatys2017/*.mat